@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);

body {
	margin-top:40px;
	background:#eaecf1;
	text-align:center;
	font-family: 'Roboto', sans-serif;
}

.clear {
	clear:both;
}

.firstcontainer {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:50px;
}

.secondcontainer {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:50px;
}


.planbg {
	width:33.333%;
	float:left;
	min-height:500px;
	background:#fff;
	border:1px solid #d2d7e2;
	font-family: 'Roboto', sans-serif;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}
.planborder {
	border-left:0;
}

.topbar {
	width:100%;
	height:5px;
	float:left;
	background:#ccc;
}

.plantype {
	width:100%;
	float:left;
	padding:15px 0;
}


.plantype h5 {
	font-weight:300;
	font-size:32px;
	margin:0;
	padding-bottom:5px;
 }
 .plantype span {
 	font-size:45px;
 	font-weight:600;
 	margin:0;

 }
 .plantype p {
 	font-size:15px;
 	font-weight:300;
 	margin:0;
 	padding-top:10px;
 }


.features {
	width:100%;
	float:left;
}

.features li {
	list-style:none;
	font-weight:400;
	color:#131924;
	padding-top:12px;
	width:100%;
	text-align:left;
	padding: 12px 5%;
	border-top:1px solid #d2d7e2;
}

.green {
	color:#7cb602;
	margin-right:8px;
}
.red {
	color:#e1736d;
	margin-right:8px;
}
.plancolor {
	background:#f8f8f8;
}
.pricing {
    float: left;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.pricing table {
	width: 100%;
}
.pricing table tr td {
	width: 50%;
	padding: 0 5px;
}
.pricing table tr td p {
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding-top: 10px;
}
.pricing table tr td span {
    font-size: 35px;
	font-weight: 600;
    margin: 0;
}
.aanbevolen .pricing {
	color: white;
}
.requestbg {
    border-top: 1px solid #d2d7e2;
    float: left;
    padding: 12px 0;
    width: 100%;
}

.requestbg li {
	list-style:none;
}
/*.requestbg li a {
	width:60%;
	height:27px;
	float:left;
	margin-left:20%;
	background:#ccc;
	border-radius:30px;
	text-decoration:none;
	font-size:12px;
	font-weight:300;
	padding-top:9px;
	color:#fff;
	-o-transition:.5s;
  	-ms-transition:.5s;
 	-moz-transition:.5s;
 	-webkit-transition:.5s;
 	transition:.5s;
}
.requestbg li a:hover {
		-o-transition:.5s;
  	-ms-transition:.5s;
 	-moz-transition:.5s;
 	-webkit-transition:.5s;
 	transition:.5s;
}*/



/*SKINS CSS BEGINS HERE*/

/*Skin1 BLUE*/

.skinonebg {background:#308fcb;}
.skinonecolor {color:#308fcb;}
.skinonerequest li a {
    background: none repeat scroll 0 0 #2682bc;
    display: table;
    float: none;
    margin: 5px auto;
}
.skinonerequest li a:hover {background:#3497d6;}
.featuredcolor {color:#fff;}
.skinonefeatures li {color:#fff;border-top:1px solid #3a9cda;}
.skinoneplancolor {background:#2682bc;}
.skinonefeaturedreq {border-top:1px solid #3a9cda;}
.skinonefeaturedreq {background:#308fcb;}
.skinonecheck {color:#ceff68;margin-right:8px;}

/*Skin2 GREEN*/

.skintwobg {background:#7cb602;}
.skintwocolor {color:#7cb602;}
.skintworequest li a {background:#699b00;}
.skintworequest li a:hover {background:#88c900;}
.featuredcolor {color:#fff;}
.skintwofeatures li {color:#fff;border-top:1px solid #95dc00;}
.skintwoplancolor {background:#699b00;}
.skintwofeaturedreq {border-top:1px solid #95dc00;}
.skintwofeaturedreq {background:#7cb602;}
.skintwocheck {color:#fcff00;margin-right:8px;}

/*Skin3 RED*/

.skinthreebg {background:#dc2c23;}
.skinthreecolor {color:#dc2c23;}
.skinthreerequest li a {background:#c01810;}
.skinthreerequest li a:hover {background:#f32f25;}
.featuredcolor {color:#fff;}
.skinthreefeatures li {color:#fff;border-top:1px solid #ed352c;}
.skinthreeplancolor {background:#c01810;}
.skinthreefeaturedreq {border-top:1px solid #ed352c;}
.skinthreefeaturedreq {background:#dc2c23;}
.skinthreecheck {color:#fff;margin-right:8px;}





/*RESPONSIVE STUFF*/
@media only screen and (min-width : 0px) and (max-width : 519px) {

.planbg {
	width:98%;
	margin-left:1%;
	margin-right:1%;
	-o-transition:.5s;
  	-ms-transition:.5s;
 	-moz-transition:.5s;
 	-webkit-transition:.5s;
 	transition:.5s;

}

.firstcontainer {
	width:100%;
}
.secondcontainer {
	width:100%;
}
}

@media only screen and (min-width : 520px) and (max-width : 1000px) {
.firstcontainer {
	width:100%;
}
.secondcontainer {
	width:100%;
}
.planbg {
	width:50%;
	-o-transition:.5s;
  	-ms-transition:.5s;
 	-moz-transition:.5s;
 	-webkit-transition:.5s;
 	transition:.5s;
}
	
}






